{% load static %}
<html>
<head>
<link rel="stylesheet" href='{%static "makeup/products.css"%}' >       
<head>
    <body style="color:white;background-color: blue; ">
    <div >
        <ol style="text-align:justifi;margin-right:20%">
            
           {%for i in products%}
                the name of the product is : {{i.name}}
                the number of the product is :{{i.id}}
                the type of project : {{i.kind}}
                {{i.description}}
                {{i.expire_date}}
                theprice of project is :{{i.price}}
               {% endfor %}
            
        </body>     
            
         
           
           
               
           </ol>
       </div >
    



</html>